[submodule "deps/trellis"]
	path = deps/trellis
	url = https://github.com/microsoft/TRELLIS.git
[submodule "deps/GraspGen"]
	path = deps/GraspGen
	url = https://github.com/NVlabs/GraspGen.git
[submodule "deps/sam3"]
	path = deps/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "deps/sam-3d-objects"]
	path = deps/sam-3d-objects
	url = https://github.com/facebookresearch/sam-3d-objects.git
[submodule "deps/recognize-anything"]
	path = deps/recognize-anything
	url = https://github.com/xinyu1205/recognize-anything.git
